body, html {
	font-family: 'Calibri';
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}
.games_banner {
	background-image: url("img/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    height: 500px;
}
nav {
    background-color: rgb(20, 22, 36);
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}
li a:hover {
	background-color: rgb(71, 109, 158);
}
h1,h2 {
	margin: 0.5em;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
main a {
	color: #27318b;
	text-decoration: none;
}
main a:hover {
	color: #b63d84;
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 40%;
	border: 1px solid black;
}
figcaption {
	font-size: 90%;
}
img {
	width: 100%;
}
footer {
	background-color: rgb(20, 22, 36);
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.2em;
}
footer img {
	width: 20px;
}
.news img {
	width: 20%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #000000;
}
.news hr {
	margin: 1em;
	border: 1px solid rgb(20, 22, 36);
	clear: both;
}
.news time {
	font-size: 90%;
	font-style: italic;
}
.news img:hover{
	width: 30%;
	position: relative;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#news_gallery figure {
	padding: 0.5em;
	margin: 0 0em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid black;
	border-radius: 1em;
}
#news_gallery figcaption {
	text-align: center;
}
hr {
	margin: 1em;
	border: 1px solid rgb(20, 22, 36);
	clear: both;
}

@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	.news img:hover{
		width:95%;
		position: relative;
	}
	.news img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.news time {
		margin: 0 0 0 1em;
	}
	#news_gallery figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 90%;
		border: 1px solid black;
	}
	#news_gallery figcaption {
		font-size: 90%;
		text-align: center;
	}
}